<!-- ////////////////////////footer/////////////////////////////// -->
<footer class="footer-area py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="accounts text-center pb-4 xb-4">
                <div class="facebook account text-white d-inline-block mr-3"><fa-icon [icon]="faFacebook"></fa-icon></div>
                <div class="twitter account text-white d-inline-block mr-3"><fa-icon [icon]="faTwitter"></fa-icon></div>
                <div class="instagram text-white d-inline-block mr-3"><fa-icon [icon]="faInstagram"></fa-icon></div>
            </div>
            <p class="copy-right font-weight-bold">Copy Right 2020 &copy; By <a href="#">Movies</a> All Rights Reserved</p>
        </div>
    </div>
</footer>
