<!-- ////////////////////////footer/////////////////////////////// -->
<footer class="footer-area">
    <div class="row">
        <div class="col-md-12">
            <div class="accounts text-center pb-4 xb-4">
                <div class="facebook account text-white d-inline-block mr-3"><i class="fab fa-facebook-f"></i></div>
                <div class="twitter account text-white d-inline-block mr-3"><i class="fab fa-twitter"></i></div>
                <div class="instagram account text-white d-inline-block mr-3"><i class="fal fa-instagram"></i></div>
            </div>
            <p class="copy-right">Copy Right 2020 &copy; By <a href="#">Movies</a> All Rights Reserved</p>
        </div>
    </div>
</footer>
