@import './../trends/color';
*{
    padding: 0;
    margin:0;
}
/* ////////////////////////footer///////////////////////// */
.footer-area {
    background: $homeBgColor none repeat scroll 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
  }
  .copy-right {
    color: #ffffff;
    margin: 0;
  }
.copy-right a{
    color: black;
    transition: all 0.3s ease-in-out;
  }
.copy-right a:hover{
    text-decoration: none;
}

